@import url('https://fonts.googleapis.com/css2 ? 1 300;1 400;1 500;1 600;1 700;1 800;1 900 & display=swap');

html {
    font-family: 'Raleway', Courier, monospace;
}

:root {
    --color1: #0065FC;
    --color2: #DEEBFF;
    --color3: #F2F2F2;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

body {
    background-color: var(--color);
    margin: 0px;
}

div#container {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 4fr 3fr 1fr;
    grid-template-areas: 
    "menubar menubar"
    "hautDePage hautDePage"
    "herbergements populaires"
    "activites activites"
    "pied pied";
    height: 100vh;
    max-width: 992px;
    margin: auto;
}
/*Début de la mise en plave flex box pour le navbar*/
header.navbar {
    grid-area: menubar;
}

.nav {
    display: flex;
    margin-left: 10px;
}

.nav a {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav a:hover {
    color: var(--color1)
}

.nav img {
    
}

.hybride {
    flex-grow: 1;
}

.menu {
    flex-grow: 0.3;
    text-align: center;
    display: flex;
}

.menu p {
    color: beige;
    width: 50%;
    padding-top: 40px;
    margin: 0px;
}

.menu p:hover {
    border-top: 2px solid var(--color1);
}

.menu a {

}

.menu a:hover {
    
}

main.page {
    background-color: white;
    grid-area: hautDePage;
    margin-left: 10px;
}

.page h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
}

.page p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 16px;
}

.searchDesktop {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searchDesktop i {
    padding: 7px;
    border: solid 1px #d9d9d9;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--color3);
}

.localisation::before {
    font: var(--fa-font-solid);
    content: "\f3c5";
    color: black;
  }

.searchDesktop p {
    margin: 0px;
    padding: 7px;
    width: 150px;
    border: solid 1px #d9d9d9;
}

.searchDesktop button {
    background-color: #0065FC;
    color: aliceblue;
    padding: 8px;
    border: solid 1px #d9d9d9;
    border-radius: 0px 10px 10px 0px;
}

.button::before {
    font: var(--fa-font-solid);
    content: "\f002";
  }

.searchMobile {
    display: none;
    margin-bottom: 20px;
    justify-content: center;
}

.searchMobile i {
    padding: 10px;
    border: solid 1px #d9d9d9;
    border-radius: 10px 0px 0px 10px;
}

.searchMobile p {
    margin: 0px;
    padding: 9px;
    width: 300px;
    border: solid 1px #d9d9d9;
}

.searchMobile button {
    background-color: #0065FC;
    color: aliceblue;
    padding: 10px;
    border: solid 1px #d9d9d9;
    border-radius: 0px 10px 10px 0px;
}

.loupe::before {
    font: var(--fa-font-solid);
    content: "\f005";
  }

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filters p {
    margin: 0px;
    height: 15px;
}

.filters p:first-child {
    font-weight: bold;
    margin-top: 16px;
}

.filters1 {
    display: flex;
}

.filter {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    margin: 10px 30px;
    width: auto;
    opacity: 1;
    background-color: #fff;
    justify-content: center;
    transition: opacity 0.4s;
}

.filter:hover {
    opacity: 0.5;
}

.filter i {
    margin-right: 10px;
    color: var(--color1);
}

.billet::before {
    font: var(--fa-font-solid);
    content: "\f53a";
  }

.personne::before {
    font: var(--fa-font-solid);
    content: "\f183";
  }

.filter p {
    font-size: 13px;
}

.filters2 {
    display: flex;
}

.filters2 filter {

}

.filters2 filter i {

}

.coeur::before {
    font: var(--fa-font-solid);
    content: "\f004";
  }

.chien::before {
    font: var(--fa-font-solid);
    content: "\f6d3";
  }

.filters2 filter p {

}

.info {
    display: flex;
    margin-bottom: 15px;
}

.info i {
    padding: 7px 13px;
    border: solid 1px gray;
    border-radius: 30px;
}

.information::before {
    font: var(--fa-font-solid);
    content: "\f129";
  }

.info p {
    margin: 8px 0px 0px 10px;
}

/*La partie Hébergements*/
article#article1 {
    background-color: #f2f2f2;
    grid-area: herbergements;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
}

#article1 h2 {
    margin: 10px 0px 15px 15px;
    padding: 0;
    font-size: 22px;
}

.cards3a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards3a a {
    width: 33%;
    text-decoration: none;
    color: black;
}

.cards3a a:hover {

}

.card {
    margin: 7px;
    padding: 7px;
    border: solid 0px white;
    border-radius: 20px;
    background-color: white;

    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow: 1px 1px 1px black;
}

.card :nth-child(1) {
    font-weight: bold;
}

.card:last-child {
    font-weight: lighter;
}

.cardImg3 {
    padding-bottom: 10px;
}

.cardImg3 img {
    height: 124px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.cardText3 {
    width: 100%;
    margin-left: 10px;
}

.cardText3 p {
    margin: 0px 0px 10px 0px;
    text-decoration: none;
}

.avis {
    
} 

.avis :nth-child(5) {
    color: var(--color2);
}

.avis i {
    
}

.etoile::before {
    font: var(--fa-font-solid);
    content: "\f005";
  }

.cards3b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards3b a {
    width: 33%;
    text-decoration: none;
    color: black;
}

#article1 a {
    color: black;
    text-decoration: none;
}

#article1 a:hover {

}

.afficher {
    font-weight: bold;
    margin: 40px 0px 30px 5px;
}

/*Ce sont les items qui permettent de tester flex box*/

i {
    color: var(--color1);
}

/*La partie Populaire*/
aside#article2 {
    background-color: var(--color3);
    grid-area: populaires;
    margin: 10px;
    border-radius: 15px;
    padding: 0px;
}

.populaire {
    display: flex;
} 

.populaire h2 {
    margin: 30px 0px 15px 30px;
    padding: 0;
    font-size: 22px;
}

.hybride {

}

.populaire i {
    margin: 30px 40px 0px 0px;
}

.graph::before {
    font: var(--fa-font-solid);
    content: "\f201";
  }

.cards4a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 580px;
}

.cards4a a {
    width: 90%;
    text-decoration: none;
    color: black;
}


.cards4a .card {
    display: flex;
    width: 90%;
}

.cards4a .cardImg3 {
    display: flex;
    width:  160px;
}

.cards4a .card img {
    object-fit: cover;
}

/*La partie activité*/
#article3 {
    grid-area: activites;
    margin-top: 50px;
    margin-bottom: 50px;
}

#article3 h2 {
    margin: 0px 0px 0px 15px;
    padding: 0;
    font-size: 22px;
}

.cards5a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards5a a {
    width: 25%;
    text-decoration: none;
    color: black;
}

.cards5a a:hover {

}

.card {

}

.cardImg3 {

}

.cardImg3 img {

}

.cardText3 {

}

.cardText3 p {

}

.cards5a .cardImg3 img {
    object-fit: cover;
    height: 389px;
}

.cards5a p {

}

.basDePage {
    grid-area: pied;
}

.nav1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
}

.foot {

}

.foot h2 {
    font-size: 18px;
}

.foot ul {
    list-style-type: none;
    padding: 0;
}

.foot ul li {
    margin-bottom: 12px;
}

.foot a {
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}

.foot a:hover {
    color: var(--color1);
}

.foot1 {

}

.foot1 ul {
    list-style-type: none;
    padding: 0;
}

.foot1 ul li {
    margin-bottom: 12px;
}

.foot1 h2 {
    font-size: 18px;
}

.foot1 a {
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}

.foot1 a:hover {
    color: var(--color1);
}

.foot1 a p {

}

.foot2 {

}

.foot2 ul {
    list-style-type: none;
    padding: 0;
}

.foot2 ul li {
    margin-bottom: 12px;
}

.foot2 h2 {
    font-size: 18px;
}

.foot2 a {
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}

.foot2 a:hover {
    color: var(--color1);
}

.foot2 a p {

}



/*Les bolck qui permettent le placement des items*/

/*Les medias queries pour le responsive*/
/*Format mobile: écran entre 0px et 768px */
@media screen and (min-width: 0px) and (max-width:768px){
    div#container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
        grid-template-areas: 
        "menubar menubar"
        "hautDePage hautDePage"
        "populaires populaires"
        "herbergements herbergements"
        "activites activites"
        "pied pied";
        height: 100vh;
        max-width: 992px;
        margin: auto;
    }

    .nav {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav a {
        text-align: center;
    }
    
    .hybride :nth-child(1) {
        display: none;
    }

    .menu p:hover {
        padding-top: 0px;
        padding-bottom: 10px;
        border-top: 0px solid #0065FC;
        border-bottom: 2px solid #0065FC;
    }

    .page h1 {
        margin-top: 40px;
    }

    .searchDesktop {
        display: none;
    }

    .searchMobile {
        display: flex;
        align-items: center;
    }

    .searchMobile i {
        padding: 9px;
    }

    .filters {
        flex-direction: column;
    }

    .filter {
        width: 50%;
        margin: 10px 10px;
    }

    .filters1 {
        justify-content: center;
    }

    .filters2 {
        justify-content: center;
    }

    #article1 {
        background-color: white;
    }

    #article2 {
        background-color: #f2f2f2;
        margin: 0px;
        border-radius: 0px 0px;
    }

    #article2 h2 {
        margin-left: 50px;
    }

    .populaire i {
        margin: 30px 80px 0px 0px;
    }

    .cards3a {
        flex-direction: column;
        align-content: center;
    }

    .cards3a a {
        flex-direction: column;
        width: 90%
    }

    .cardText3 {
        width: 70%;
    }

    .cards3b {
        flex-direction: column;
        align-content: center;
    }

    .cards3b a {
        width: 90%;
    }

    .cards4a a {
        width: 90%;
    }

    .afficher {
        display: none;
    }

    .cards5a {
        flex-direction: column;
        align-content: center;
    }

    .cards5a a {
        width: 90%;
    }

    .cards5a .cardImg3 img {
        height: 200px;
    }

    .nav1 {
        flex-direction: column;
    }

    .foot {
        margin-left: 10px;
    }

    .foot1 {
        margin-left: 10px;
    }

    .foot2 {
        margin-left: 10px;
    }
}
/*Format tablette: écran entre 768 et 992*/
@media screen and (min-width: 768px) and (max-width:992px){
    div#container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
        grid-template-areas: 
        "menubar menubar"
        "hautDePage hautDePage"
        "herbergements herbergements"
        "populaires populaires"
        "activites activites"
        "pied pied";
    }

    #article2 h2 {
        margin-left: 20px;
    }

    .cards4a {
        flex-direction: row;
        height: auto;
    }

    .cards4a a {
        width: 33%;
    }

    .cards5a .cardImg3 img {
        height: 211px;
    }
}
/*Format desktop: écran entre 992px et au-dessus*/
@media screen and (min-width: 992px){
    div#container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
        grid-template-areas: 
        "menubar menubar"
        "hautDePage hautDePage"
        "herbergements  populaires"
        "activites activites"
        "pied pied";
        height: 100vh;
        max-width: 1400px;
        margin: auto;
    }
}

